.title {
  margin: 70px 0 20px;
  text-align: center;
  color: #000a91;
}
.title p {
  font-weight: 500;
  text-transform: uppercase;
}
.title h1 {
  color: #222;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 5px;
}
