.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 650px) {
  .programs {
    flex-direction: column;
  }
  .program {
    flex-basis: 100%;
    margin: 20px;
  }
}
