@media (max-width: 800px) {
  .testimonials {
    padding: 0 40px;
  }
  .next-btn,
  .back-btn {
    padding: 10px;
    width: 35px;
  }
  .testimonials ul li {
    padding: 10px;
  }
  .slide {
    padding: 10px;
  }
  .slide img {
    width: 50px;
    border: 3px solid #212ea0;
  }
}

@media (max-width: 600px) {
  .user-info {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .user-info h3 {
    font-size: 18px;
  }
  .slider p {
    font-size: 14px;
  }
}
